.card-info {
  color: var(--just-white);
  text-decoration: solid;
  background-color: var(--primary-color);

}

.card {
  width: 300px;
  

}

.boton_terminar {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  margin-top: 20px;
  padding: 0 15px;
}

.boton_terminar:hover {
  background-color: var(--primary-color) ;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  margin-top: 20px;
  padding: 0 15px;

}
