.card.info{
    color: var(--just-white);
    text-decoration: solid;
    background-color: var(--primary-color);
    
}



.boton_detalle {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    margin-top: 20px;
    padding: 0 15px;
  }

  .boton_detalle:hover {
    background-color: var(--primary-color) ;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    margin-top: 20px;
    padding: 0 15px;

  }

  .Card {
    background-color: #fff;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    margin-top: 20px;
    padding: 0 15px;
    width: 20rem;
  }

  .Imagen {
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin-top: 10px;
  }
  


