body {
  margin: 0;
 }

 :root {
 
  /*colors*/
  --primary-color: #b0b435;
  --secondary-color: #cdcf86;
  --body-bg-color: #fff;
  --border-color: #933df5;
  --success-color: #4f8a10;
  --error-color: #d8000c;
  --info-color: #b0b435;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--mulish-font);
}

body {
  background-color: var(--body-bg-color);
  color: var(--just-white);
}

button {
  border: none;
  background: none;
}

.button-primary {
  background-color: var(--primary-color);
  border: none;
  font-family: var(--mulish-font);
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto;
  width: 112px;
  height: 36px;
  cursor: pointer;
}